html, body {
    height: 100%;
}
body { 
    font-size: 14px;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
}
button {
    background-color: #168de2;
    border: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 15px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    }
a {
    color: #0066ff;
}
a:hover {
    color: #c7254e;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.header {
    width: 100%;
    height: 50px;
    background: #d8d6d7;
}
.logo {
    width: 131px;
    height: 50px;
    background-repeat: no-repeat;
    margin-left: 10px;
    float: left;
}
.auth {
    width: 400px;
}
.timer {
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
}
.content {
    width: 800px;
    padding-bottom: 60px;
    margin: 0 auto;
    
}
/*
Стили для форм
*/
.forminput ul{
	overflow:hidden;
	list-style:none;
	clear:both;
	margin-bottom:5px;
	height:33px;
}
.forminput ul li{
	display:block;
	float:left;
	width:170px;
	height:20px;
}
.forminput{
	margin-left:150px;
	margin-top:10px;
}

/*
Стили для подсказок
*/
.tooltip { 
  position: relative;     /* Делаем элемент родительским для всплывающих подсказок */
}
.tooltip span {
  position: absolute;     /* Выводим элемент из потока */
  margin-left: -30000px;  /* И прячем далеко за краем экрана */
}
.tooltip:hover span {     /* При наведении */
  margin-left: 0;         /* Возвращаем из далекого заэкранного края блок на место */
  width: 250px;           /* Задаем ширину */
  z-index: 1000;          /* Помещаем на самый верх */
                          /* Позиционируем относительно родительского блока */
  top:30px;               /* Отступ сверху */  
  left:30px;              /* Отступ слева */          
}

.tooltip { 
  border-bottom:1px dotted #3f3f3f;
  cursor: help;
}

.tooltip span{ 
  background-color: #3f3f3f; /* Фон всплывающего блока*/
  color: #fafafa;			 /* Цвет текста */
  padding:10px;				 /* Отступы */
}

.tooltip span{				 /* Закругляем уголки */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  behavior: url(pie.htc);
}

.tooltip span:after{
  content: '';            /* Добавили контент */ 
  width:0;                /* Спрятали его, превратив в 0 */
  height:0;
  border-bottom: 10px solid #3f3f3f;  /* Нижним бордером задаем цвет и высоту треугольника */
  border-right: 30px solid transparent; /* Правым - ширину треугольника вправо */
  position: absolute;     /* Позиционируем относительно родительского блока */
  top:-10px;
  left:10px;
}

/*
Стиль для сбрасывающего дива.
*/
.clear{
    clear: both;
}
/* Админка */ 
 .usersul{
    background:#f0f0f0;
    float:left;
    padding:5px;
    width:100px;
    text-align:center;
    font-weight:bold;
}
/* Рамка Внимание! */
.regramka {
    margin:10px 40px;
    padding:15px;
    border: solid 1px #000;
}
/* Стили курсов */
    .courses_block {
        border:1px solid #000;
        margin-top:10%;
        float:left; 
        width:400px; 
        margin-right:10px; 
        background-color:#fff;
        height:335px;
        margin-bottom:10px;
        margin-left: 15px;
    }
    .courses_button {
        float:left; 
        width:140px; 
        margin-left:33%;
    }
    .courses_name{
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        margin-left:31%;
        color: #000;
    }
    .courses_desc{
     font-family: Roboto Regular;
     font-size: 15px;
     font-weight: bold;
     margin-left:3%;
     color: #000;
    }