<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Форма редактирования</title>
	<link href="css/form.css" type="text/css" rel="stylesheet">
</head>
<body>
	<form method="post">
		<ul>
			<li><label for="inputName">Name:</label></li>
			<li><input type="text" id="name"></li>
			<li><div>Подсказка!!!</div></li>
		</ul>
		<ul>
			<li><label for="inputLastname">Lastname:</label></li>
			<li><input type="text" id="lastname"></li>
			<li><div>Подсказка!!!</div></li>
		</ul>
		<ul>	
			<li><label for="inputPass">Password:</label> </li>
			<li><input type="password" id="password"></li>
			<li><div>Подсказка!!!</div></li>
		</ul>
		<ul>
			<li><label for="inputEmail">E-mail:</label></li> 
			<li><input type="email" id="email"></li>
			<li><div>Подсказка!!!</div></li>
		</ul>
		<ul>
			<li><label for="inputDate">Дата рождения:</label></li>
			<li><input type="date" id="birthday"></li>
			<li><div>Подсказка!!!</div></li>			
		</ul>
		
		<ul>
			<li><button>Сохранить</button></li>
		</ul>
	</form>
</body>