<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Админ панель</title>
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/ez/admin/css/main.css" rel="stylesheet">
</head>
<body>
<div class="wraper"> 
	<div class="header"> 
	<div class="logo"></div> 
</div> 
<div class="content">
<div class="box clr">

<a href="users.html">
	<div class="oneb">
		Пользователи
		<div>Управление зарегистрированными на сайте пользователями, редактирование их профилей и блокировка аккаунта</div>
	</div>
</a>

<a href="lessons.html">
	<div class="oneb">
		Уроки
		<div>Добавление и удаление уроков</div>
	</div>
</a>

<a href="courses.html">
	<div class="oneb">
		Курсы
		<div>Добавление и удаление курсов</div>
	</div>
</a>

<div class="clr"></div>
</div>
<div class="clr"></div>
<div class="foot"><div style="margin-bottom:-10px"><a href="form.html">выйти</a></div></div>
</div>
</body>
</html>